p {
    font-size:14px;
}

.container {
    border-radius:10px;
    background-color: white;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.header-row {
    padding:20px 0;
}

.posts-row {
    padding:10px 0;
    border-bottom: 1px #d4d4d4 solid;
}


h6 {
    font-size: 15px;
}

.btn-primary {
    background-color: #ff9015;
    border-color: #ff9015;
}

.btn-primary:hover, .btn-primary:active {
   background-color: #1c1c1c;
    border-color: #1c1c1c;
}

.btn-primary:focus {
    background-color: #ff9015;
    border-color: #ff9015;
    box-shadow: 0 0 0 0.25rem rgb(49 132 253 / 0%);
}
