.top-row {
    padding:15px 0 30px 0;
}

tbody, td, tfoot, th, thead, tr {
    font-size:14px !important;
}

.table {
    border-color: #fafafa;
}

.table>:not(:last-child)>:last-child>* {
    border-bottom-color: #fafafa;
}

td:first-child {
    width:5%;
}

td:nth-child(2) {
    width:33%;
}

td:nth-child(3) {
    width:20%;
}

td:nth-child(4) {
    width:30%;
}


tr:first-child {
    background:white
}

tbody > tr:nth-child(odd) {
    background:#fafafa
}

.selectedrow {
    background:#e5e5e5;
}

.search > input {
    border: none;
    background-color: rgba(255, 248, 220, 0);
    
}



.search {
    background-color: #fafafa;
    width: 55%;
    display: inline;
    padding: 3px 10px;
    border: 1px solid #fafafa;
    border-radius:20px;
    float: right;    
}

.selectedRow {
    background-color: red !important;
}