.top-bar {
    height:50px;
    vertical-align: middle;   
    background:#fff;
    box-shadow: 0 1px 3px rgb(160 166 179 / 30%);
    padding-right: 5%;
    display: flex;
    justify-content: flex-end;
}

.top-bar-item {
    align-self: center;
    padding-right: 2%;
}

